[Unit]
Description=Start xpra server at boot after network is up
After=network.target

[Service]
ExecStart=/usr/bin/xpra start --bind-tcp="127.0.0.1:7777" --daemon=no
User=user
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
